@import url(https://db.onlinewebfonts.com/c/9b2a654c7eb3dd65f9bcae692dd167c3?family=Founders+Grotesk+X-Cond+Med);
@import url(https://db.onlinewebfonts.com/c/363df8f171afbf83e5aac11fcf6f06f6?family=Founders+Grotesk);
@import url(https://db.onlinewebfonts.com/c/8f350727df42f2b6dc810416b1e23d69?family=Founders+Grotesk+X-Cond+Reg);
@import url(https://db.onlinewebfonts.com/c/2b84539c32b7d1a739b9651ad495b4ef?family=Founders+Grotesk+X-Cond+SmBd);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .ctransition {
        @apply ease-in-out duration-200;
    }

    .cscrollbar {
        @apply scrollbar-thin scrollbar-thumb-clgreen scrollbar-track-cblack
    }

    .cheader {
        @apply absolute -translate-y-0 -translate-x-0 top-6 left-6
    }
}

@media print {
    body {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .qr__container {
      page-break-before: always; /* Ensure each QR code starts on a new page */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 350px;
    }

    .qr__container .qr {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .qr__container .header {
        width: 100%;
    }

    .no-print {
      display: none; /* Hide UI elements that shouldn't be printed */
    }

    .printable__area {
        padding: 2rem !important;
        font-size: 14px !important;
    }
    .report__container .exit {
        display: none;
    }
  }
